$color-white: #ffffff;
$color-white-opacity-29: rgb(255, 255, 255, .29);
$color-orange: #EF6D58;
$color-brown: #391400;
$color-primary: #FDF0E9;
$color-primary-dark: #F3D1BF;
$color-secondary: #4FE24A;
$color-dark-blue: #28293E;

$mobile-width: 1040px;
$min-body-width: 320px;
$max-content-width: 1850px;

$customSelectZIndex: 1;
