@import "normalize.css";
@import './fontface';
@import './variables.scss';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: $color-primary;
  font-family: 'Epilogue', sans-serif;
}
